<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Choosing cars</title>
  <link href="webjars/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="webjars/jquery/1.12.4/jquery.min.js"></script>
  <script src="webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <h1>Rental car</h1>
  <div class="container">
    <nav class="nav-main" style="display: inline;">
      <img src="/img/CarLogo.png" alt="A car Logo" class="nav-car">
      <ul class="nav nav-tabs">
        <li>
          <a href="http://localhost:8989/index" >About us</a>
        </li>
        <li>
          <a href="http://localhost:8989/CarsBetween" >Rent a car</a>
        </li>
        <th th:utext="${navInformation}"></th>
        <!--
        <li>
            <a href="#" >Login</a>
        </li>
        <li>
            <a href="#" >Sign Up</a>
        </li>-->
      </ul>

</nav>
<nav>
  <div class="container" >
    <div style=" float: left;  padding: 10% 0;">
      <h3>Enter your requirement's data</h3>
      <form method="get" action="CarsBetween" class="form-group">
        <label for="PickUpDate">PickUp Date:</label>
        <input  type="datetime-local" id="PickUpDate" name="PickUpDate"> <br> <br>
        <label for="ReturnDate">Return Date:</label>
        <input type="datetime-local" id="ReturnDate" name="ReturnDate"> <br> <br>

        <label for="cbHide">Select Type of Car</label><br>
        <input type="checkbox" id="cbHide" name="cbHide" onclick="showAndHide()">

        <label for="TypeCar">Type of car:</label>
        <input type="search" id="TypeCar" name="TypeCar" list="TypesOfCars">

        <datalist id="TypesOfCars" name="TypesOfCars" >
          <option value="Cheaper"></option>
          <option value="Premium"></option>
          <option value="Compact"></option>
          <option value="Standard"></option>
          <option value="4x4"></option>
        </datalist><br> <br>

        <label for="cbHidePrice">Select Max Price per day</label><br>
        <input type="checkbox" id="cbHidePrice" name="cbHidePrice" onclick="showAndHidePrice()">

        <label for="MaxPricePerDay">Maximum price per day:</label>
        <input  type="number" id="MaxPricePerDay" name="MaxPricePerDay" value="900"><br><br>

        <p>Order by price:</p>
        <label for="radioAsc">Asc Search</label>
        <input type="radio" id="radioAsc" name="order" value="ASC"> <br>
        <label for="radioDesc">Desc Search</label>
        <input type="radio" id="radioDesc" name="order" value="DESC"><br>

        <button type="button" onclick="validateAndSend()"><strong>Search</strong></button>
      </form>
      <script>
                    function showAndHide(){
                        let cdhide=document.getElementById("cbHide").checked;
                        let bar=document.getElementById("TypeCar");
                        if(cdhide){
                            bar.disabled=false;
                            console.log("hidden");
                        }else{
                            bar.disabled=true;
                            console.log("visible");
                        }
                    }
                    function showAndHidePrice(){
                        let cdhide=document.getElementById("cbHidePrice").checked;
                        let bar=document.getElementById("MaxPricePerDay");
                        if(cdhide){
                            bar.disabled=false;
                            console.log("hidden");
                        }else{
                            bar.disabled=true;
                            bar.value=900;
                            console.log("visible");
                        }
                    }
                    showAndHide();
                    showAndHidePrice();
                    document.getElementById("radioAsc").checked=true;

                    function fillDate(dateString){
                        let myDate=new Date();
                        let arrStrings=dateString.split("-");
                        let arrStrings2=arrStrings[2].split("T");
                        myDate.setFullYear(arrStrings[0],Number(arrStrings[1])-1,arrStrings2[0]);
                        let time0=arrStrings2[1].split(":");
                        myDate.setHours(time0[0]);
                        myDate.setMinutes(time0[1]);
                        return myDate;
                    }
                    function validateAndSend(){
                        let pDate=document.getElementById("PickUpDate").value;
                        let rDate=document.getElementById("ReturnDate").value;

                        console.log(pDate);
                        console.log(rDate);

                        if(pDate.length==0 || rDate.length==0){
                            alert("You must add return and pick up date");
                            console.log("Need Dates");
                        }else if(pDate.length!=0 && rDate.length!=0){
                            let today=new Date();
                            let date1=fillDate(pDate);
                            let date2=fillDate(rDate);
                            if(date1<today || date2<today){
                                alert("Pickup date and return date must be a date in the future");
                                console.log("Invalid value of dates");
                            }else if(date1>=date2){
                                alert("Pickup date is before return date, and both must be different");
                                console.log("Invalid value of dates");
                            }else{
                                document.getElementById("MaxPricePerDay").disabled=false;
                                document.getElementById("TypeCar").disabled=false;
                                document.querySelector("div.container div form[method='get']").submit();
                            }
                        }
                    }
                </script>
    </div>
    <div style="float: right;  padding: 5% 0;">
      <th th:utext="${tableInformation}"></th>
    </div>
  </div>
</nav>
</div>
</body>
</html>