<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmployeesMainPage</title>
    <link href="webjars/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/jquery/1.12.4/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Rental car</h1>
<div class="container">
    <nav class="nav-main" style="display: inline;">
        <img src="/img/CarLogo.png" alt="A car Logo" class="nav-car">
        <ul class="nav nav-tabs">
            <li>
                <a href="http://localhost:8989/logoutEmployees" >Logout</a>
            </li>
            <!--
            <li>
                <a href="http://localhost:8989/CarsBetween" >Rent a car</a>
            </li>
            <th th:utext="${navInformationE}"></th>-->

        </ul>

    </nav>
    <hr>
    <header class="showcase" >
        <h1>Rent a <strong>car</strong> today</h1><br>
        <h3>Do you want a ride?</h3>
    </header>

</div>
<div class="container">
    <div class="search" style="margin-left: 35%; margin-right: 35%;">
        <form class="form-group" method="get" action="employeesMainPage">
            <h3>Search reservation by ID</h3>
            <div>
                <label for="resIdSearch">Reservation ID:</label>
                <input class="form-control" type="number" id="resIdSearch" name="resIdSearch"> <br> <br>
            </div>
            <div>
                <label for="searchAll">See all reservations</label>
                <input class="form-control" type="checkbox" id="searchAll" name="searchAll" onclick="showAndHideSearch()"> <br> <br>
            </div>
            <button type="button" onclick="validateAndSend()"><strong>Search</strong></button>
            <script>
            function showAndHideSearch(){
                let sAll=document.getElementById("searchAll").checked;
                let bar=document.getElementById("resIdSearch");
                if(sAll){
                    bar.disabled=true;
                    console.log("visible");
                }else{
                    bar.disabled=false;
                    console.log("hidden");
                }
            }
            document.getElementById("searchAll").checked=true;
            document.getElementById("resIdSearch").disabled=true;
            function validateAndSend(){
                let search=document.getElementById("resIdSearch").value;
                if(document.getElementById("searchAll").checked){
                    document.getElementById("resIdSearch").disabled=false;
                    document.getElementById("resIdSearch").value="-1";
                    search="-1";
                }
                if(search.length==0){
                    alert("There is no id to search");
                    console.log("No search");
                }else{
                    if(Number(search)<-1){
                        document.getElementById("resIdSearch").value="-1";
                        search="-1";
                    }

                    document.querySelector("div.container div.search form[method='get']").submit();
                }
            }
          </script>
        </form>

    </div>
    <br>
    <br>
    <br>
    <div style=" float: left;  padding: 10% 0;">
        <a class="btn btn-primary"  data-toggle="collapse" href="#collapseTable" role="button" aria-expanded="false" aria-controls="collapseExample">
            See reservations
        </a>
    </div>
    <div style=" float: right;  padding: 10% 0;">
        <a class="btn btn-primary"  data-toggle="collapse" href="#collapseTable2" role="button" aria-expanded="false" aria-controls="collapseExample">
            See All Cars
        </a>
    </div>
    <div class="collapse" id="collapseTable">
        <div class="card card-body" >
            <th th:utext="${employeeTables1}"></th>
        </div>
    </div>
    <div class="collapse" id="collapseTable2">
        <div class="card card-body">
            <th th:utext="${employeeTables2}"></th>
        </div>
    </div>
</div>

</body>
</html>