<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First frontend</title>
    <!-- A Font: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--the fonts came from: https://cdnjs.com/libraries/font-awesome-->
    <!--the pattern came from: https://heropatterns.com/-->
    <!--More fonts: https://fonts.google.com/specimen/Fira+Sans-->
    
</head>
<body>
    <h1>My First frontend</h1>
    <div class="container">
        <nav class="nav-main">
            <img src="/img/CarLogo.png" alt="A car Logo" class="nav-car">
            <ul class="nav-menu">
                <li>
                    <a href="#" >Doing something 1</a>
                </li>
                <li>
                    <a href="#" >Doing something 2</a>
                </li>
                <li>
                    <a href="#" >Doing something 3</a>
                </li>
                <li>
                    <a href="#" >Doing something 4</a>
                </li>
            </ul>
            <ul class="nav-menu-right">
                <li>
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </li>

            </ul>
        </nav>
        <hr>
        <header class="showcase" >
            <h1>Rent a <strong>car</strong> today</h1><br>
            <h3>Do you want a ride?</h3>
        </header>
    </div>    
</body>

</html>