<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="firstDiv">
  <form method="post" action="clientInfo">
      <label for="Email">Email:</label>
      <input type="email" id="Email" name="Email"> <br> <br>
      <label for="Password">Password:</label>
      <input type="password" id="Password" name="Password"> <br> <br>
      <button type="button" onclick="validateAndSend()"><strong>Login</strong></button>
      <h1 class="WarningMessage" id="WarningMessage" ></h1>

      <script>
          function validateAndSend(){
            let email=document.getElementById("Email").value;
            let password=document.getElementById("Password").value;
            //let email=data.email;
            //let password=data.password;
            if(email.length==0 && password.length==0){
                //document.getElementById("WarningMessage").value="There is no email nor password";
                alert("There is no email and neither password");
                console.log("No Email no Password");
            }else if(email.length==0){
                alert("There is no email");
                console.log("No email");
            }else if(password.length==0){
                alert("There is no password");
                console.log("No Password");
            }else{
                document.querySelector("div.firstDiv form[method='post']").submit();
            }
          }
          //const btn=document.querySelector("div.firstDiv button[type='button']");
          //console.log(btn.innerText);
          //let emailToSend=document.getElementById("Email").value;
          //let passwordToSend=document.getElementById("Password").value;
          //btn.addEventListener('click', () => {validateAndSend({email:emailToSend,password:passwordToSend});});


      </script>
  </form>
</div>

</body>
</html>